# Session_04

## More on Lists

In [967]:
#dir(list) #remove the first sharp to run the code!

In [969]:
list1 = ["c", 10.5, "r", 20, "p", 30] #int, float and str.

### List's methods are:
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'.

#### .insert()

In [717]:
list1.insert(0, "New_String") #the first argument takes the index number.
list1

['New_String', 'c', 10.5, 'r', 20, 'p', 30]

#### .sort()

In [720]:
list1.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [335]:
list2 = [10.1, 10.9, 42.5, -15, 0]
print(f"list2 before sorting it, is: {list2}")
list2.sort()
print(f"list2 after soring it, is: {list2}")

list2 before sorting it, is: [10.1, 10.9, 42.5, -15, 0]
list2 after soring it, is: [-15, 0, 10.1, 10.9, 42.5]

In [337]:
list2.sort(reverse = True)
list2

[42.5, 10.9, 10.1, 0, -15]

In [339]:
list3 = ["bbb", "aaa", "aab", "2", "bba", "Aa", "AA", "baa", "B" , "-5"]
list3.sort()
print(type("2")) #It is not an int!
list3

<class 'str'>

['-5', '2', 'AA', 'Aa', 'B', 'aaa', 'aab', 'baa', 'bba', 'bbb']

#### .reverse()

In [342]:
list2

[42.5, 10.9, 10.1, 0, -15]

In [344]:
list2.reverse()
list2

[-15, 0, 10.1, 10.9, 42.5]

In [346]:
list3.reverse()
list3

['bbb', 'bba', 'baa', 'aab', 'aaa', 'B', 'Aa', 'AA', '2', '-5']

#### .copy()

In [360]:
list4 = list2.copy()
list4

[-15, 0, 10.1, 10.9, 42.5]

#### .extend()

In [363]:
list4.extend("a", "2")

TypeError: list.extend() takes exactly one argument (2 given)

In [365]:
list4.extend((2, 3, 4, 5))
print(type((2, 3, 4, 5)))
list4

<class 'tuple'>

[-15, 0, 10.1, 10.9, 42.5, 2, 3, 4, 5]

In [367]:
list4.extend("Bazinga") #Adds each character of the sentence separately!
print(type("Bazinga"))
list4

<class 'str'>

[-15, 0, 10.1, 10.9, 42.5, 2, 3, 4, 5, 'B', 'a', 'z', 'i', 'n', 'g', 'a']

#### .append()

In [380]:
list5 = list2.copy()
list5.append("Sheldon") #Adds the whole sentence as one item  !
print(type("Sheldon"))
list5

<class 'str'>

[-15, 0, 10.1, 10.9, 42.5, 'Sheldon']

#### .count()

In [437]:
list6 = [0, 0, 0, 0, False, 1, 1] #Think about the answer!
list6.count(False)

5

#### .clear()

In [440]:
print(list6)
list6.clear()
list6

[0, 0, 0, 0, False, 1, 1]

[]

## More on Tuples

In [443]:
#dir(tuples) #remove the first sharp to run the code!

In [540]:
Best_Series = "Friends" #Not "The Big Bang Theory" :)
Best_Series

'Friends'

In [542]:
tuple_1 = tuple(Best_Series)
tuple_1

('F', 'r', 'i', 'e', 'n', 'd', 's')

In [544]:
print(f'''The best series in the universe is {Best_Series}, But I'm the liar!, Just "The Big Bang Theory"! :)''')

The best series in the universe is Friends, But I'm the liar!, Just "The Big Bang Theory"! :)

### .count()

In [547]:
Best_Series.count("f")

0

In [549]:
Best_Series.count("F")

1

### .index()

In [560]:
Best_Series.index("s")

6

In [597]:
Best_Series.append("1994")

AttributeError: 'str' object has no attribute 'append'

## More on Dictionaries

### Adding, Changing, and Deleting Elements in Dictionaries

In [603]:
players_numbers = dict(Muller = 25 , Neuer = 1)
players_numbers

{'Muller': 25, 'Neuer': 1}

In [605]:
print(players_numbers["Muller"])

25

In [794]:
grades = {
    "Robert": {"math": 9.5, "geography": 19},
    "Marcus": {"math": 15, "geography": 18.5}
}
print(grades)

{'Robert': {'math': 9.5, 'geography': 19}, 'Marcus': {'math': 15, 'geography': 18.5}}

In [796]:
print(grades["Robert"]["geography"])

19

In [799]:
players_numbers["Lewandowski"] = 5

In [801]:
players_numbers

{'Muller': 25, 'Neuer': 1, 'Lewandowski': 5}

In [803]:
# First, create the nested dictionary for Penny
grades["Penny"] = {}

# Then, assign values to the keys in the nested dictionary
grades["Penny"]["math"] = 0
grades["Penny"]["geography"] = 0.25

print(grades)

{'Robert': {'math': 9.5, 'geography': 19}, 'Marcus': {'math': 15, 'geography': 18.5}, 'Penny': {'math': 0, 'geography': 0.25}}

In [805]:
del grades["Marcus"]
grades

{'Robert': {'math': 9.5, 'geography': 19},
 'Penny': {'math': 0, 'geography': 0.25}}

In [807]:
#dir(dict) #remove the first sharp to run the code!

### Dictionary methods

'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'.

#### .items()

In [811]:
print(grades)
grades.items()

{'Robert': {'math': 9.5, 'geography': 19}, 'Penny': {'math': 0, 'geography': 0.25}}

dict_items([('Robert', {'math': 9.5, 'geography': 19}), ('Penny', {'math': 0, 'geography': 0.25})])

#### .keys()

In [814]:
grades.keys()

dict_keys(['Robert', 'Penny'])

#### .values()

In [817]:
grades.values()

dict_values([{'math': 9.5, 'geography': 19}, {'math': 0, 'geography': 0.25}])

#### .update()

In [884]:
grades

{'Robert': {'math': 9.5, 'geography': 19},
 'Marcus': {'math': 15, 'geography': 18.5},
 'Penny': {'math': 0.25, 'geography': 0.5}}

In [886]:
grades.update({
    "Marcus": {"math": 15, "geography": 18.5}, #add
    "Penny" : {"math": 0.25, "geography": 0.5} #change
})

print(grades)

{'Robert': {'math': 9.5, 'geography': 19}, 'Marcus': {'math': 15, 'geography': 18.5}, 'Penny': {'math': 0.25, 'geography': 0.5}}

In [888]:
grades("Penny")

TypeError: 'dict' object is not callable

#### .pop()

In [891]:
grades.pop("Penny") #If "Penny" exists, .pop() removes it and returns its value

{'math': 0.25, 'geography': 0.5}

In [893]:
grades

{'Robert': {'math': 9.5, 'geography': 19},
 'Marcus': {'math': 15, 'geography': 18.5}}

### Performing mathematics with dicts

#### addition using sum()

In [911]:
data_age = {"Sheldon" : 37, "Leonard" : 38, "Howard" : 35}

In [913]:
total_sum = sum(data_age.values()) #keys : values
print(total_sum)

110

#### multiplication using prod()

In [921]:
import math
age_product = math.prod(data_age.values())
print(age_product)

49210

In [925]:
37 * 38 * 35

49210

#### Maximum and Minimum values

In [928]:
min(data_age.values())

35

In [930]:
max(data_age.values())

38

#### Calculating Averages

In [933]:
age_average = sum(data_age.values()) / len(data_age)
print(age_average)

36.666666666666664

## Exercises

### Exercise 1
- Create a list and append a tuple to it.
- Assign variables using slicing and indexing methods.
- Create a list of 7 numbers, print the third one, change the last one, and then print the updated list.
- Try creating a list of your friendsâ€™ ages and see what happens if you multiply or add them (use real date)!

### Exercise 2

- Create a dictionary for 3 countries with GDP (billion USD) and population (million).
- Use real data from reliable sources (World Bank, IMF, etc.) and note the year.
- Calculate GDP per capita for each country.
- Show step-by-step calculation and the final result for each country.
- Present your dictionary, sources, and results clearly.

### Be as creative as you can with your code â€” nobody ever got hurt from being too creative! ðŸ˜„