# Data types:

- Numeric types (numbers: int, float, complex)
- Sequence types (ordered data: list, tuple, str)
- Mapping types (key-value pairs: dict)
- Set types (unique unordered data: set)
- Bool types (logical values: True / False)

### By using the type() function, we can check data types.

# Numeric types

### 1. Integers

In [13]:
type(666)

int

In [11]:
#int
721

721

### 2. Float

In [60]:
type(15.4)

float

In [62]:
print(24.78)

24.78

### 3. Complex

In [3]:
z = 78 + 11j
print(z)

(78+11j)

In [81]:
type(z)

complex

# Sequence types

### 1. String

In [19]:
print("Econometrics")

Econometrics

In [108]:
type("Econometrics")

str

- A string is a sequence type because it is made of a series of characters.
- Each character can be accessed individually by its position (index).
- This sequential nature allows us to iterate over the string using loops, for example:

In [113]:
for letter in "Econometrics":
    print(letter)

E
c
o
n
o
m
e
t
r
i
c
s

- In this code, the for loop goes through each character in the string "Econometrics".
- On each iteration, the variable letter holds the current character, and print(letter) displays it.

### 2. List

In [25]:
interest_rate = [25, 36, 31, 23, 35.8]

In [27]:
type(interest_rate)

list

- We can count the number of items in a sequential data type using the len() function.

In [134]:
len(interest_rate)

5

- We can count the number of items in a sequential data type using the len() function.

In [137]:
interest_rate[0]

25

In [139]:
interest_rate[1]

36

### 3. Tuple

It is an ordered, immutable data structure | یک ساختار داده‌ای ترتیبی و غیرقابل تغییر

- It is created by comma or parenthesis
- We can also use tuple() function

In [151]:
data_tuple = 0, 1, 2, 3, 4, 5, 6
print(data_tuple)
print("It's type is", type(data_tuple))

(0, 1, 2, 3, 4, 5, 6)
It's type is <class 'tuple'>

In [153]:
data_tuple_2 = (7, 8, 9, 10)
print(data_tuple_2)
print("It's type is", type(data_tuple_2))

(7, 8, 9, 10)
It's type is <class 'tuple'>

# Mapping data type (or Associative arrays)

In [33]:
data = {"1st" : "A", "2nd" : "N", "3rd" : "Z"}

In [39]:
print(data , type(data))

{'1st': 'A', '2nd': 'N', '3rd': 'Z'} <class 'dict'>

In [41]:
print(data, type(data), sep = "\n")

{'1st': 'A', '2nd': 'N', '3rd': 'Z'}
<class 'dict'>

# Set types

In [215]:
aaa = (3, 2, 2, 1, 4) #tuple
set1 = set(aaa)
print(aaa)
print(set1)
print(type(aaa))

(3, 2, 2, 1, 4)
{1, 2, 3, 4}
<class 'tuple'>

In [217]:
bbb = [5, 2, 3, 4, 4, 4, 4] #list
set2 = set(bbb)
print(bbb)
print(set2)
print(type(bbb))

[5, 2, 3, 4, 4, 4, 4]
{2, 3, 4, 5}
<class 'list'>

In [251]:
ccc = (1, "b", "c", "c", 4, 1) #tuple
set3 = set(ccc)
print(ccc)
print(set3)
print(type(ccc))

(1, 'b', 'c', 'c', 4, 1)
{'c', 1, 4, 'b'}
<class 'tuple'>

In [253]:
print(ccc[0]) #Tuple: Ordered, Indexable.
print(set3[0]) #Set: Unordered, No Index.

1

TypeError: 'set' object is not subscriptable

# Bool types

In [271]:
1 > 2

False

In [275]:
1 > 2
1 < 2

True

In [277]:
print(1 > 2)
print(1 < 2)

False
True

In [269]:
26 > 45

False

In [261]:
True + 0

1

In [263]:
False + 0

0

In [265]:
True * 5

5

# Back to Numeric Types!

### Let's use python as a calculator

1. Addition

In [317]:
5 + 6

11

In [321]:
type(5 + 6)

int

2. Subtraction

In [284]:
9 - 4

5

In [323]:
type(9 - 4)

int

3. Multiplication

In [43]:
17 * 3.5

59.5

In [49]:
type(17 * 3.5)

float

4. Division

In [292]:
8 / 2

4.0

In [294]:
11 / 3

3.6666666666666665

In [330]:
type(11 / 3) #division operator create float data type.

float

### When two line of codes were written, only the last line was printed.

In [305]:
1 + 1
2 + 2

4

### So, how can we make sure that every line is printed out?
- We must use print() function for that purpose.

In [311]:
print(1 + 1)
print(2 + 2)

2
4

5. Remainder
   
- Gives the remainder of a division

In [336]:
80 % 10

0

In [342]:
89 % 10 #10 * 8 = 80, 89 - 80 = 9

9

6. Floor Division

- Gives the largest integer less than or equal to the result of the division.

In [367]:
80 / 10

8.0

In [369]:
80 // 10

8

In [375]:
89 / 10

8.9

In [377]:
89 // 10

8

In [371]:
9 / 2

4.5

In [373]:
9 // 2

4

7. exponential

- It raises a number to the power of another number.

In [380]:
2 ** 3

8

In [382]:
11 ** 2

121

# Order of Mathematical Operations (PEMDAS)
1) parentheses ()
2) exponential number (**)
3) negative number (-x)
4) multiplication and division (*, /, %, //)
5) addition and substraction (+, -)

# Assigning variables

In [400]:
a = 2
b = 4

In [402]:
a * b

8

In [408]:
string_1 = "Hello"
print(string1)

list_1 = ["Robert, 20, Marcus, 22"]
print(list1)

tuple_1 = (4, 5, 6)
print(tuple1)

Hello
['Robert, 20, Marcus, 22']
(4, 5, 6)

# Exercises

### 1. Explore the %, //, and ** operators with numerical examples.
### 2. Check the type of %, //, and **. What do you conclude?
### 3. Can you perform mathematical operations on sequential data types? Which types allow it, and with which types do errors occur?
### Send them before the next session. Good luck, brainiacs! 🧠✨